<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing test</h1>

      <p class="has-text-centered">
        <span 
        [class]="compare(letter, enteredText[i])" 
        *ngFor="let letter of randomText.split(''); let i = index;"
        >{{ letter }}</span>
      </p>


      
      <div class="field">
        <input 
        class="input" 
        (input)="onInput($any($event.target).value)" 
        (keyup)="checkLetter($any($event.target).value, $any($event.target).value)"
        />

      </div>

      <div *ngIf="randomText === enteredText" class="box has-text-centered">
        <h1 class="title">Correct!</h1>
      </div>

      <div class="results">
        <p>Stats:</p>
    
        <div>
          <span> Correct: {{correct}}</span>
        </div>
    
        <div>
          <span> Errors: {{errors}}</span>
        </div>
    
        <div>
          <span>Accuracy: {{ accuracy }}%</span>
        </div>

      </div>

    </div>

  </div>




</div>
